In [1]:
import numpy as np
import pandas as pd
from datetime import datetime

In [2]:
df = pd.read_csv("data1.csv")

In [3]:
df

,Unnamed: 0,Punjab,Haryana,Rajasthan,Delhi,UP,Uttarakhand,HP,J&K,Chandigarh,...,Odisha,West Bengal,Sikkim,Arunachal Pradesh,Assam,Manipur,Meghalaya,Mizoram,Nagaland,Tripura
0,02/01/2019 00:00:00,119.9,130.3,234.1,85.8,313.9,40.7,30.0,52.5,5.0,...,70.2,108.2,2.0,2.1,21.7,2.7,6.1,1.9,2.2,3.4
1,03/01/2019 00:00:00,121.9,133.5,240.2,85.5,311.8,39.3,30.1,54.1,4.9,...,67.9,110.2,1.9,2.2,23.4,2.4,6.5,1.8,2.2,3.6
2,04/01/2019 00:00:00,118.8,128.2,239.8,83.5,320.7,38.1,30.1,53.2,4.8,...,66.3,106.8,1.7,2.2,21.7,2.4,6.3,1.7,2.2,3.5
3,05/01/2019 00:00:00,121.0,127.5,239.1,79.2,299.0,39.2,30.2,51.5,4.3,...,65.8,107.0,2.0,2.2,22.5,2.7,5.7,1.8,2.3,3.5
4,06/01/2019 00:00:00,121.4,132.6,240.4,76.6,286.8,39.2,31.0,53.2,4.3,...,62.9,106.4,2.0,2.2,21.7,2.7,6.2,1.9,2.3,3.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498,01/12/2020 00:00:00,130.8,126.0,220.4,77.3,322.8,36.5,25.4,45.4,3.6,...,105.7,172.6,1.4,2.1,20.4,2.1,5.4,1.8,2.0,2.4
499,02/12/2020 00:00:00,129.4,127.3,218.4,81.3,331.4,37.0,25.8,45.2,3.7,...,112.3,174.4,1.5,2.1,23.3,2.4,5.4,1.6,2.1,3.3
500,03/12/2020 00:00:00,132.1,129.7,205.6,85.6,336.7,37.8,26.2,45.2,4.0,...,113.0,169.8,1.4,2.1,21.7,2.3,5.4,1.5,2.0,3.6
501,04/12/2020 00:00:00,132.1,128.4,207.0,83.9,334.6,38.2,27.0,43.0,4.0,...,111.6,145.5,1.2,2.0,24.2,2.5,5.7,1.6,2.0,3.3
502,05/12/2020 00:00:00,120.4,111.2,201.4,83.6,287.3,35.2,24.3,42.6,3.5,...,95.1,110.4,1.2,2.1,20.3,2.5,5.8,1.6,2.1,3.3

In [4]:
df.rename(columns = {'Unnamed: 0':'date'}, inplace = True)

In [5]:
df['date'] = pd.to_datetime(df['date'])
df = df.sort_values('date')

In [6]:
df

,date,Punjab,Haryana,Rajasthan,Delhi,UP,Uttarakhand,HP,J&K,Chandigarh,...,Odisha,West Bengal,Sikkim,Arunachal Pradesh,Assam,Manipur,Meghalaya,Mizoram,Nagaland,Tripura
175,2019-01-07,163.9,157.5,180.9,103.8,379.4,33.9,24.2,34.8,4.8,...,89.8,151.8,0.9,2.3,34.2,2.4,5.2,1.6,2.4,4.9
211,2019-01-08,206.1,140.6,223.7,99.3,384.1,42.6,29.4,44.9,5.5,...,82.8,176.5,1.2,2.4,32.7,2.3,5.7,1.5,2.3,5.7
241,2019-01-09,224.0,200.4,240.5,113.9,350.6,40.2,30.5,39.1,5.4,...,109.6,172.8,1.1,2.3,36.1,2.4,5.5,1.7,2.4,5.8
270,2019-01-10,118.9,142.9,208.4,80.7,316.5,34.9,27.8,39.9,3.9,...,88.0,164.8,0.9,1.9,30.2,2.4,5.5,1.7,1.9,4.6
300,2019-01-11,78.2,79.7,159.5,52.4,271.0,20.1,12.1,40.7,2.4,...,72.8,130.3,0.9,1.5,19.2,2.1,3.9,1.5,2.3,3.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
463,2020-05-19,120.5,131.6,250.3,71.7,290.9,39.3,30.1,50.2,4.1,...,68.9,119.9,2.0,2.3,22.7,2.7,6.6,1.8,2.4,3.1
464,2020-05-20,123.8,131.6,251.7,70.7,292.0,39.4,30.5,49.7,4.1,...,71.0,120.7,2.0,2.3,22.8,2.7,6.9,1.6,2.3,3.6
465,2020-05-21,126.0,133.0,249.7,73.4,295.5,40.1,31.1,51.1,4.2,...,72.0,121.4,2.1,2.2,23.9,2.3,6.7,1.6,2.1,3.7
466,2020-05-22,127.2,131.6,247.4,62.0,295.4,39.2,30.3,50.7,3.9,...,77.0,120.2,1.9,2.0,23.0,2.4,6.7,1.7,2.2,3.4
467,2020-05-23,121.6,122.9,243.3,72.1,286.3,35.6,27.5,49.9,3.5,...,84.3,111.2,1.0,2.7,20.9,2.1,6.4,1.6,2.2,3.4

In [7]:
from sklearn.model_selection import train_test_split
df_train,df_test = train_test_split(df, test_size=0.1, shuffle=False)

In [8]:
df_train

,date,Punjab,Haryana,Rajasthan,Delhi,UP,Uttarakhand,HP,J&K,Chandigarh,...,Odisha,West Bengal,Sikkim,Arunachal Pradesh,Assam,Manipur,Meghalaya,Mizoram,Nagaland,Tripura
175,2019-01-07,163.9,157.5,180.9,103.8,379.4,33.9,24.2,34.8,4.8,...,89.8,151.8,0.9,2.3,34.2,2.4,5.2,1.6,2.4,4.9
211,2019-01-08,206.1,140.6,223.7,99.3,384.1,42.6,29.4,44.9,5.5,...,82.8,176.5,1.2,2.4,32.7,2.3,5.7,1.5,2.3,5.7
241,2019-01-09,224.0,200.4,240.5,113.9,350.6,40.2,30.5,39.1,5.4,...,109.6,172.8,1.1,2.3,36.1,2.4,5.5,1.7,2.4,5.8
270,2019-01-10,118.9,142.9,208.4,80.7,316.5,34.9,27.8,39.9,3.9,...,88.0,164.8,0.9,1.9,30.2,2.4,5.5,1.7,1.9,4.6
300,2019-01-11,78.2,79.7,159.5,52.4,271.0,20.1,12.1,40.7,2.4,...,72.8,130.3,0.9,1.5,19.2,2.1,3.9,1.5,2.3,3.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
426,2020-03-29,106.4,115.6,212.7,66.3,274.4,32.6,26.4,43.6,3.5,...,78.9,125.0,1.0,2.1,24.3,2.5,5.8,1.6,2.3,4.1
427,2020-03-30,106.4,118.0,215.9,66.4,270.5,34.4,27.2,43.3,3.5,...,75.9,128.1,1.2,2.0,25.4,2.6,5.8,1.6,2.3,4.0
428,2020-03-31,106.7,119.6,218.6,67.6,272.9,34.2,27.9,40.1,3.5,...,74.4,125.3,1.3,2.2,24.5,2.5,6.0,1.7,2.1,4.1
362,2020-04-01,248.8,200.9,237.1,116.2,393.1,38.5,28.7,39.7,5.5,...,102.8,164.9,0.7,2.1,30.8,2.5,5.5,1.7,2.2,4.8
386,2020-04-02,148.4,148.9,193.7,82.8,325.9,35.4,25.9,39.9,4.0,...,76.7,118.3,0.4,2.0,23.5,2.4,5.2,1.6,2.1,4.2

In [9]:

df_test.insert(loc=0, column="id", value=range(1,len(df_test)+1))

In [10]:
csum = ['Punjab', 'Haryana', 'Rajasthan', 'Delhi', 'UP',
       'Uttarakhand', 'HP', 'J&K', 'Chandigarh', 'Chhattisgarh', 'Gujarat',
       'MP', 'Maharashtra', 'Goa', 'DNH', 
       'Andhra Pradesh', 'Telangana', 'Karnataka', 'Kerala', 'Tamil Nadu',
       'Pondy', 'Bihar', 'Jharkhand', 'Odisha', 'West Bengal', 'Sikkim',
       'Arunachal Pradesh', 'Assam', 'Manipur', 'Meghalaya', 'Mizoram',
       'Nagaland', 'Tripura']
df_test = df_test.drop(csum,axis = 1)

In [11]:

df_test

     id       date
408   1 2020-04-03
432   2 2020-04-04
455   3 2020-04-05
471   4 2020-04-06
476   5 2020-04-07
481   6 2020-04-08
486   7 2020-04-09
491   8 2020-04-10
496   9 2020-04-11
501  10 2020-04-12
434  11 2020-04-13
435  12 2020-04-14
436  13 2020-04-15
437  14 2020-04-16
438  15 2020-04-17
439  16 2020-04-18
440  17 2020-04-19
441  18 2020-04-20
442  19 2020-04-21
443  20 2020-04-22
444  21 2020-04-23
445  22 2020-04-24
446  23 2020-04-25
447  24 2020-04-26
448  25 2020-04-27
449  26 2020-04-28
450  27 2020-04-29
451  28 2020-04-30
363  29 2020-05-01
387  30 2020-05-02
409  31 2020-05-03
433  32 2020-05-04
456  33 2020-05-05
472  34 2020-05-06
477  35 2020-05-07
482  36 2020-05-08
487  37 2020-05-09
492  38 2020-05-10
497  39 2020-05-11
502  40 2020-05-12
457  41 2020-05-13
458  42 2020-05-14
459  43 2020-05-15
460  44 2020-05-16
461  45 2020-05-17
462  46 2020-05-18
463  47 2020-05-19
464  48 2020-05-20
465  49 2020-05-21
466  50 2020-05-22
467  51 2020-05-23

In [12]:
df_train.to_csv('df_train.csv', index=False)
df_test.to_csv('df_test.csv', index=False)